.statistics {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    border: 1px solid gainsboro;
}

.title {
    text-align: center;
}

.statList {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    background-color: greenyellow;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    color: white;
}